.btn_default {
    min-width: 245px;
    min-height: 45px;
    border-radius: 100px;

    &.red {
        background: #b70000;
        color: #fff;
    }

    &.grey {
        margin-top: 25px;
        background: #333333;
        color: #fff;
        display: inline-block;
        line-height: 45px
    }
}