.topBar {
    padding: 15px;
    text-align: center;
    font-size: 17px;
    box-shadow: 0px -6px 19px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 10;

    &.admin {
        position: static;
        box-shadow: none;
        border-left: 1px solid #ced4da;
        border-right: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
        display: flex;
        flex-direction: column;
    }

    .rl {
        padding-bottom: 5px;
    }

    p {
        margin-bottom: 0;
        margin-top: 5px;
        display: inline-block;
        float: left;
    }

    input {
        float: right;
        border: 1px solid #d2d2d2;
        text-align: center;
        margin-top: 2px;
    }

    ul {
        li {
            list-style: none;
            display: inline-block;
            margin-right: 25px;
        }

        &.secondlevel {
            &.hours {
                a {
                    color: #b70000;
                    font-weight: bold;
    
                    &[aria-selected="true"] {
                        color: black;
                        font-weight: bold;
                    }
                }
            }

            li {
                &:after {
                    content: '|';
                    position: relative;
                    left: 13px;
                }

                &:last-child {
                    &::after {
                        content: '';
                    }
                }

                @media screen and (max-width: 768px) {
                    &::after {
                        content: '';
                    }

                    padding: 5px 0;
                    border-bottom: 1px solid black;

                    &:last-child {
                        border: none;
                        padding: 0;
                    }
                }                
            }
        }
    }

    span {
        display: block;
        text-align: left;
    }
}

.adminClasses {
    .rl {
        display: none;
    }
}