.login_wrapper {
    height: 100vh;
    background: url('../../images/login_bg.jpg');
    background-size: cover;

    .logo {
        max-width: 200px;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    form {
        text-align: center;
        position: absolute;
        bottom: 50px;
    }

    p {
        color: #fff;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}