.class {
    .headerImage {
        min-height: 334px;
        background-size: cover !important;
        background-position: center center !important;
        position: relative;
        
        .overlayShadow {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.16) 52%, rgba(0,0,0,0.65) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.16) 52%,rgba(0,0,0,0.65) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.16) 52%,rgba(0,0,0,0.65) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        }

        .titleInfo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #fff;
        }

        .back {
            color: #fff;
            padding: 20px;
            display: block;
            font-size: 32px;
            line-height: 32px;
            font-weight: 100;
            position: relative;
            z-index: 3;
        }

        &.pilates {
            background: url('../../images/pilates.jpg') no-repeat;
        }
    
        &.postural-pilates {
            background: url('../../images/postural.jpg') no-repeat;
        }
    
        &.yoga {
            background: url('../../images/yoga.jpg') no-repeat;
        }

        &.cardio-fitness {
            background: url('../../images/cardio_fitness.jpg') no-repeat;
        }

        &.zumba {
            background: url('../../images/zumba.jpg') no-repeat;
        }

        &.fipe {
            background: url('../../images/fipe.jpg') no-repeat;
        }

        &.gag {
            background: url('../../images/gag.jpg') no-repeat;
        }

        &.hiit {
            background: url('../../images/hiit.jpg') no-repeat;
        }
    }

    .classBody {
        padding: 20px;
    }
}

.covidmodal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    background: #fffffff2;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;

    .text {
        font-weight: bold;
        font-size: 15px;
    }
    
    .buttons {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 468px) {
            .negative {
                margin-top: 15px;
            }
        }
    }

    .enroll_button.negative {
        background: grey;
        color: #fff;
    }
}