.classCard {
    min-height: 175px;
    max-width: 85vw;
    width: 100%;
    margin: auto;
    background: #d0d0d0;
    background-size: cover;
    border-radius: 21px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    margin-bottom: 25px;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;

    .title {
        display: block;
    }

    .main,
    .side {
        position: relative;
        z-index: 2;
        color: #fff;
        display: flex;
        flex-flow: column;
    }

    .side {
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.16) 52%, rgba(0,0,0,0.65) 100%);
        // background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.16) 52%,rgba(0,0,0,0.65) 100%);
        // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.16) 52%,rgba(0,0,0,0.65) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        border-radius: 21px;
        z-index: 9;
    }

    span.overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.41);
        border-radius: 21px;
    }

    &.pilates {
        background: url('../../images/pilates.jpg') no-repeat;
    }

    &.postural-pilates {
        background: url('../../images/postural.jpg') no-repeat;
    }

    &.yoga {
        background: url('../../images/yoga.jpg') no-repeat;
    }

    &.cardio-fitness {
        background: url('../../images/cardio_fitness.jpg') no-repeat;
    }

    &.zumba {
        background: url('../../images/zumba.jpg') no-repeat;
    }

    &.hiit {
        background: url('../../images/hiit.jpg') no-repeat;
    }

    &.fipe {
        background: url('../../images/fipe.jpg') no-repeat;
    }

    &.gag {
        background: url('../../images/gag.jpg') no-repeat;
    }
}