.adminClasses {
    .bookedClasses {
        margin-top: 10px;

        .row {
            display: block;
        }
    }

    .noticeEmpty {
        text-align: center;
    }

    .hours {
        margin-top: 30px;
    }

    .postural-pilates-9,
    .postural-pilates-10 {
        background: #aa3939;
        color: #fff;
    }

    .postural-pilates-11,
    .postural-pilates-12 {
        background: #643030;
        color: #fff;
    }

    .pilates-1,
    .pilates-2 {
        background: #97cf62;
        color: #000;
    }

    .pilates-3,
    .pilates-6 {
        background: #66923d;
        color: #fff;
    }

    .pilates-4,
    .pilates-7 {
        background: #4a5e37;
        color: #fff;
    }

    .pilates-5,
    .pilates-8 {
        background: #28311f;
        color: #fff;
    }

    .yoga-13,
    .yoga-14 {
        background: #315277;
        color: #fff;
    }
}