.classesList {
    margin: 175px 0 80px;

    &.booked {
        margin: 80px 0;
    }
}

.enroll_button {
    background: #b70000;
    color: #fff;
    min-width: 245px;
    min-height: 45px;
    border: none;
    border-radius: 100px;
    padding: 0 25px;

    &.enrolled {
        background: #8a8a8a;
    }
}