.statusbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    ul {
        display: flex;
        padding: 0;
        margin-bottom: 0;
        
        li {
            height: 50px;
            background: #b70000;
            list-style: none;
            display: flex;
            flex-grow: 1;
            flex-basis: 0;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;
            
            a {
                color: #fff;
            }

            &.active {
                background: #820000;
            }
        }
    }
}