.active {
    color: #11bd00;
    font-size: 24px;
}

.disactive {
    color: #bd0000;
    font-size: 24px;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

.adminUsers {
    margin-top: 10px;
}

.modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    select {
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-left: 15px;
    }
}